.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    text-align: center;
    background: linear-gradient(135deg, #111111 0%, #383838 100%);
}

.game-title {
    color: #fff;
}

.color-picker-button {
    margin-top: 26px !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #fff !important;
}

.color-picker-popover {
    position: fixed;
    width: 290px;
    padding: 15px;
    border-radius: 20px;
    background: #484848;
    margin-left: 74px;
    margin-top: -516px;
    transform: translateX(-50%);
    z-index: 1000;
    animation: slide-up 0.3s ease-out forwards;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translate(-50%, 100%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.custom-popover-root .vkuiPopover__in {
    background: #363636;
}

.custom-popover-content {
    background: #363636;
}

.color-picker-title {
    color: #fff;
    margin-bottom: 15px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.color-presets {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 6.3px;
    margin-bottom: 15px;
}

.color-option {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-option:hover {
    transform: scale(1.1);
}

.custom-color-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 82px;
    gap: 10px;
    color: #fff;

}

.custom-color-input input[type="color"] {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
}

.menu-button {
    width: 200px;
    margin-bottom: 15px;
    color: white;
    transition: all 0.2s;
}

.menu-button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.game-sizes-container {
    margin-bottom: 12px;
}

.section-title {
    color: #fff;
    filter: brightness(1.4) contrast(0.9);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.game-sizes {
    display: flex;
    gap: 10px;
}

.size-button {
    width: 96px;
    height: 46px;
    color: white !important;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.action-button {
    width: 150px;
    height: 46px;
    color: white !important;
}

.main-menu-size-button {
    width: 96px;
    height: 46px;
    color: white !important;
    background-color: var(--button-color);
    border: none !important;
    border-radius: 8px !important;
    transition: all 0.2s !important;
}

.main-menu-size-button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.vkuiPopover__in {
    background: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.vkuiPopover__inWithStyling {
    border: none !important;

}

.vkuistyles__-anim-fade-in {
    animation: none !important;
}

@keyframes custom-fade {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}