.rules-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(135deg, #3b3b3b 0%, #171717 100%);
}

.rules-title {
    color: #fff;
    margin-bottom: 30px !important;
    font-size: 2.6rem !important;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3) !important;
    filter: brightness(1.2) contrast(1.4);
}

.rules-list {
    max-width: 500px;
    margin-bottom: 40px;
    line-height: 1.5;
    width: 360px;
}

.rule {
    margin: 15px 0;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
}

.rule-1 {
    color: #baff4a;
    background: rgba(186, 255, 74, 0.1);
    font-family: "Gill Sans", sans-serif;
}

.rule-2 {
    color: #ffa74a;
    background: rgba(255, 167, 74, 0.1);
    font-family: "Gill Sans", sans-serif;
}

.rule-3 {
    color: #ff4a62;
    background: rgba(255, 23, 54, 0.1);
    font-family: "Gill Sans", sans-serif;
}

.rule-4 {
    color: #98d1ff;
    background: rgba(0, 136, 255, 0.1);
    font-family: "Gill Sans", sans-serif;
}

.co {
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 0.8px;
}

.back-button {
    min-width: 180px;
    max-width: 200px;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0 24px;
    height: 44px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
    margin-top: 20px;
}

.back-button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.back-button:active {
    transform: translateY(0);
}